:root {
    --text-primary-color:rgb(220, 220, 220);
    --text-secondary-color:rgb(144, 144, 144);
    
    --background-color: rgb(10,10,10);
    --foreground-color: rgb(30,30,30);
    --light-color: rgb(240,240,240);
    --border-color: rgb(100,100,100);
    --gradient-background: linear-gradient(10deg, rgb(39, 62, 71) 20%, #06121c 80%);

    --primary-font-size: 1.5em;
    --large-font-size: 2em;
    --small-font-size: .5em;

    font-family: 'Inter', sans-serif; }
       @supports (font-variation-settings: normal) {
         :root { font-family: 'Inter var', sans-serif; }
}

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;  /* Prevent scrolling */
    display: flex;
    flex-direction: column;

    background-color: var(--background-color);
    color: var(--text-primary-color);
    font-size: var(--primary-font-size);
}


.background{ /* Background */
    background-color: var(--background-color);
}
.foreground{ /* Foreground */
    background-color: var(--foreground-color);
}
.gradient{ /* Gradient */
    background: var(--gradient-background);
}
.border{ /* Border */
    border: var(--border-color) .03rem solid;
    border-radius:20px;
}
.largetext{ /* Large Text */
    font-size: var(--large-font-size);
}
.smalltext{ /* Small Text */
    font-size: var(--small-font-size);
}
.boldtext{ /* Bolt Text */
    font-weight:600;
}
.thintext{ /* Thin Text */
    font-weight:200;
}
.secondarycolor{ /* Secondary Color Text */
    color: var(--text-secondary-color);
}
.boxshadow{
    box-shadow: 
    6px 6px 6px rgba(0, 0, 0, 0.5),      /* outer shadow */
    inset 6px 6px 12px rgba(0, 0, 0, 0.4);  /* inner (inset) shadow */
}
.margin-top{
    margin-top:1rem;
}


.red{
    color:rgb(255,0,0);
}
.green{
    color:rgb(85, 170, 57);
}


* {
    box-sizing: border-box;
}

img { display: block; }





/* Fullscreen splash */
#splash-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    animation: fadeOut 3s ease-in-out;
    animation-fill-mode: forwards;
    margin:0 auto; 
}
#splash-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
/* Logo fade-in and fade-out effect */
#splash-logo-l {
    width: 800px; /* Adjust as needed */
    opacity: 0;
    animation: fadeInOut 2s cubic-bezier(0.6, 1, 0.5, 1) 0.5s forwards;
    position:relative;
}
#splash-logo-s {
    width: 400px; /* Adjust as needed */
    opacity: 0;
    animation: fadeInOut 2s cubic-bezier(0.6, 1, 0.5, 1) 0.5s forwards;
    position:relative;
    top:150px;
}
/* Keyframes for fade effect */
@keyframes fadeInOut {
    0% { opacity: 0; scale:.85;}
    20% { opacity: 1; scale:1;}
    80% { opacity: 1; }
    100% { opacity: 0; }
}
@keyframes fadeOut {
    0% { opacity: 1; }
    80% { opacity: 1; }
    100% { opacity: 0; }
}










/* Top Bar */
#top-bar {
    top: 0;
    width: 100vw;
    height: 60px;
    border-bottom: var(--border-color) .03rem solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0s;
}
/* Left & Right Divs */
#left-div, #right-div {
    display: flex;
    align-items: center;
}
#logo {
    height: 40px; /* Adjust size */
}
#logo-container{
    position:absolute;
    left:50%;
    transform: translateX(-50%);
}
/* Buttons */
.top-button {
    background: #ffffff;
    color: var(--text-primary-color);
    cursor: pointer;
    border-radius: 5px;
    height:40px;
    padding:5px;
    margin: 10px;
    
}
.top-button img{
    height:30px;
    margin:0;
}


.top-status{
    margin-left:100px;
}
.status-box, .top-time{
    padding: 2px;
    padding-left:6px;
    padding-right:6px;
}
.top-time{
    margin-right:100px;
}




#workspace{
    display:flex;
    width:100%;
    height:100%;
}




#dashboard{
    width:60%;
    position: relative;
}
#dashboard > div{
    width:90%;
    margin:4%;
}
#sobe-sunset-image{
    width: 100%;
    max-width:100vh;
}

#expand-diagram{
    background-color: var(--light-color);
    margin:10px;
    cursor:pointer;
    position:absolute;
    top:3vw;
    left:3vw;
    padding:4px;
}
#expand-image{
    height:20px;
    width:20px;
    margin:2px;
}


#categories{
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    align-items: center;
    justify-content: center;
}
.category{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 8px;
    padding-right:8px;
    gap: 10px;
    cursor:pointer;
}
.category:hover, .category:hover .top-button{
    filter:invert(1);
}
.selected{
    background-color:rgb(255,255,255);
    background:rgb(255,255,255);
    color:rgb(0,0,0);
}
.selected:hover, .selected:hover .top-button{
    filter:none;
}



#special-data{
    padding:12px;
    height:200px;
}




#table-container{
    width:40%;
    overflow:hidden;
    padding:12px;
    border-left: var(--border-color) .03rem solid;
    
}
.data-container{
    width: 100%;
    height:60%;
    position:relative;

}
.data-component{
    float:left;
    width:12rem;
    
    flex-direction: column; /* Align content vertically */
    justify-content: flex-end; /* Push content to the bottom */
    justify-content: center;
    align-items: center;
    margin-bottom:1rem;
}
.comp-value{
    text-overflow: ellipsis;
    max-width:12rem;
}
.comp-name{
    margin-left:10px;
    font-weight:600;
}
.comp-info{
    padding:10px;
    width:230px;
    min-height:75px;
    overflow:hidden;
}
.comp-name-container{
    height: 2rem;
    display: flex;
    justify-content: flex-start;
    position:relative;
    overflow:hidden;
    cursor:pointer;
}



.pagination{
    width:100%;
    bottom:0;
    display: flex;              /* Use flexbox layout */
    justify-content: center;    /* Horizontally center the items */
    align-items: center;
    padding-top: 20px;
}
.pagination > a{
    text-decoration: none;
    color:white !important;
}
.pagination > span{
    margin:10px;
}


.pin-container{
    margin:0;
}




.gone{
    display:none;
}
#alarm-box{
    width:400px;
    height:400px;
    position:absolute;
    z-index:2;
    margin:.5rem;
    
}
#alarm-test{
    cursor:pointer;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

/* Storage 


.ocean img{ 
    width:100%;
    position:absolute;
}
// Move ocean images in opposite directions 
.ocean-image:nth-child(1) {
    animation: oceanMoveLeft 80s linear infinite;
}
.ocean-image:nth-child(2) {
    animation: oceanMoveRight 80s linear infinite;
    opacity:0.5;
}

//Keyframes for moving effect 
@keyframes oceanMoveLeft {
    0% { transform: translateX(0) scaleX(-1); }
    100% { transform: translateX(-100%) scaleX(-1);; }
}
@keyframes oceanMoveRight {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0); }
}




@media(max-width:1200px){
    body{
        font-size:1.2em;
    }
}
@media(max-width:1000px){
    body{
        font-size:1em;
    }
}
@media(max-width:800px){
    body{
        font-size:.75em;
    }
}


*/