<!DOCTYPE html>
<html lang="en">
<head>
    <title>Boat Parameters</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/inter/inter.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    
</head>

<body>
    
    <!-- Splash Screen -->
    <div id="splash-screen" class="noselect">
        <div id="splash-container">
            <img src="{{ url_for('static', filename='images/sobe-sunset-logo-white.webp') }}" alt="Sobe Sunset" id="splash-logo-l">
            <img src="{{ url_for('static', filename='images/seaforge-white.webp') }}" alt="Seaforge" id="splash-logo-s">
        </div>
    </div>

    <!-- Top Bar -->
    <div id="top-bar" class="noselect">
        <div id="left-div">
            <div class="top-button">
                <img src="{{ url_for('static', filename='images/icons/home.webp') }}" alt="Home" id="home-button">
            </div>
            <div id="alarm-container">
                <div id="alarm-test" onclick="toggleAlarms()"></div>
                <div id="alarm-box" class="foreground border boxshadow">
                    <div>Currently Active Alarms:</div>
                    <div class="smalltext">--test--</div>
                    <div class="margin-top">Past Alarms:</div>
                    <div class="smalltext">--test--</div>
                </div>
            </div>
            
        </div>
        
        <div id="logo-container">
            <img src="{{ url_for('static', filename='images/sobe-sunset-logo-white.webp') }}" alt="Sobe Sunset" id="logo">
        </div>
        
        <div id="right-div">
            <div class="top-time smalltext border foreground" id="datetime">??.??.?? ??:??:??</div>
            <div class="top-button">
                <img src="{{ url_for('static', filename='images/icons/settings.webp') }}" alt="Settings" id="settings-button">
            </div>
        </div>

    </div>


    <!-- Workspace -->
    <div id="workspace">
        <!-- Dashboard (Left side) -->
        <div id="dashboard">
            <!-- Sobe Sunset diagram -->
            <div id="sobe-sunset-diagram" class="foreground gradient border">
                <img src="{{ url_for('static', filename='images/boat-high.webp') }}" alt="Sobe Sunset" id="sobe-sunset-image">
                <div class="expand-button border" id="expand-diagram"><img src="{{ url_for('static', filename='images/icons/expand.webp') }}" alt="Expand" id="expand-image"></div>
            </div>
            <div id="categories" class="dock">
                <span class="category foreground border smalltext" onclick="change_subsystem(this, 'Solar Power System')" id="category-general">
                    SOLAR <div class="top-button"><img src="{{ url_for('static', filename='images/icons/squares.webp') }}" alt=""></div>
                </span>
                <span class="category foreground border smalltext" onclick="change_subsystem(this, 'Stbd Batt')" id="category-general">
                    BATTERY <div class="top-button"><img src="{{ url_for('static', filename='images/icons/battery.webp') }}" alt=""></div>
                </span>
                <span class="category foreground border smalltext" onclick="change_subsystem(this, 'Tanks')" id="category-general">
                    TANKS <div class="top-button"><img src="{{ url_for('static', filename='images/icons/tank.webp') }}" alt=""></div>
                </span>
                <span class="category foreground border smalltext" onclick="change_subsystem(this, 'System')" id="category-general">
                    LIGHT <div class="top-button"><img src="{{ url_for('static', filename='images/icons/light.webp') }}" alt=""></div>
                </span>
                <span class="category foreground border smalltext" onclick="change_subsystem(this, 'Air Handlers')" id="category-general">
                    AIR <div class="top-button"><img src="{{ url_for('static', filename='images/icons/air.webp') }}" alt=""></div>
                </span>
                <span class="category foreground border smalltext" onclick="change_subsystem(this, '')" id="category-general">
                    WEATHER <div class="top-button"><img src="{{ url_for('static', filename='images/icons/weather.webp') }}" alt=""></div>
                </span>
            </div>
            <!-- Pinned/special data -->
            <div id="special-data" class="foreground border">

                

                <div id="paramList"></div>
                
            </div>
        </div>
        
        <!-- Data column (Right side)-->
        <div id="table-container" class="foreground">
            
        </div>


    </div>

    <!-- Javascript testing -->
    <script>
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/src.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/exec.js') }}"></script>

</html>
